{% extends 'base.html' %}
{% block title %} login {% endblock %}

{% block content %}
<div class="w-1/2 mx-auto bg-gray-100 rounded-xl p-6 my-6">
    <h1 class="mb-6 text-3xl">Log in</h1>
    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-300 rounded-xl">
                {% for field in form %}
                    {{field.errors}}
                {% endfor %}
                {{form.non_field_errors}}
            </div>
        {% endif %}

        <button class="px-8 py-3 font-semibold bg-sky-400 text-white rounded-xl hover:bg-sky-600">Log in</button>
    </form>
</div>
{% endblock %}